/* NavBar */

.navContainer{
  position: relative;
}

nav{
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 8px;
  justify-content: space-between;
  background-color: #fff;
}

.logoImg{
  height: 50px;
  width: auto;
}


.dropdownMenu {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2) ;
}

.visible {
  animation: expand 200ms ease-in-out;
  transform-origin: top;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }

  70% {
    transform: scaleY(1.1);
  }
  
  100% {
    transform: scaleY(1);
  }
}




/* HOME */

.homeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  background-color: var(--color-bg);
}

.mainDealImg{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.callBtn{
  padding: 16px 24px;
  border-radius: 20px;
  background-color: var(--color-rosso);
  border: none;
  color: #fff;
  font-weight: 600;
  width: 90%;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 16px;
}

.dealContainer{
  margin-top: 24px;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 16px;
}

.dealContainer > h2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}


.deals{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dealImg{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.dealBtn{
  padding: 24px 32px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-giallo);
  font-weight: 600;
  margin: 0 auto;
  width: 100%;
  margin-top: 8px;
  font-size: 16px;
  color: #fff;
}




/* FOOTER */


footer{
  background-color: #242424;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  gap: 24px;
}

.footerRow{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footerRow > * h3{
  font-weight: 600;
  padding-bottom: 8px;
  text-align: center;
}

.footerRow > * p{
  font-size: 15px;
  text-align: center;
  line-height: 1.5em;
}

.footerSocials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: row;
  padding: 16px;
}
