#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
}

/* CallSticky */

.callButton {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-rosso);
  color: white;
  position: fixed;
  bottom: 32px;
  right: 40px;
  z-index: 100;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
}

/* Click */

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:active {
  transform: scale(0.9);
}

/* NavBar */

.navContainer {
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 8px;
  justify-content: space-between;
  background-color: #fff;
}

nav > a {
  font-weight: 600;
  font-size: 28px;
  color: #000;
}

.logoImg {
  height: 50px;
  width: auto;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
  font-size: 18px;
}

.dropdownMenu > * a {
  text-decoration: none;
  color: #000;
  transition: all 200ms ease;
}

.linkHoverEffect {
  position: relative;
}

.linkHoverEffect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  right: 0;
  width: 0;

  transition: all 300ms ease;
}

.LinkHoverEffectWhite:after {
  background-color: white;
}

.LinkHoverEffectBlack:after {
  background-color: black;
}

.linkHoverEffect:hover:after {
  left: 0;
  width: 100%;
}

.visible {
  animation: expand 200ms ease-in-out;
  transform-origin: top;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }

  70% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

/* HOME */

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  background-color: var(--color-bg);
}

.mainDealImg {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.callBtn {
  padding: 16px 24px;
  border-radius: 20px;
  background-color: var(--color-rosso);
  border: none;
  color: #fff;
  font-weight: 600;
  width: 90%;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 16px;
}

.dealContainer {
  padding-top: 24px;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 48px;
}

.dealContainer > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}

.deals {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dealImg {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.dealBtn {
  padding: 24px 32px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-giallo);
  font-weight: 600;
  margin: 0 auto;
  width: 100%;
  margin-top: 8px;
  font-size: 16px;
  color: #fff;
}

/* FOOTER */

footer {
  background-color: #242424;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
  gap: 24px;
  min-height: 50px;
}

.footerRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  
}

.footerRow > * h3 {
  font-weight: 600;
  padding-bottom: 8px;
  text-align: center;
}

.footerRow > * p {
  font-size: 15px;
  text-align: center;
  line-height: 1.5em;
  color: #fff;
  padding-top: 2px;
}

.footerCopyright{
  font-size: 13px;
  color: #78838c;
}

.footerSocials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: row;
  padding: 16px;
}

.footerSocials >  a{
  color: #fff;
}

/* CONTACT */

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactContainer > h1 {
  font-size: 24px;
  font-weight: 600;
}

.contactContainer > * h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5em;
}

.contactContainer > * {
  text-align: center;
}

.contactInfo {
  padding-top: 40px;
}

.contactInfo > p {
  line-height: 1.5em;
}





.navLinks{
  display: none;
}
/* Desktop Size */

@media (min-width: 1000px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 10fr 20fr;
    max-width: 1200px;
    margin: 0 auto;
  }

  .dropdownMenu {
    display: none;
  }

  .burgerMenu {
    display: none;
  }

  .navLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
  }

  .navLinks > * a {
    text-decoration: none;
    color: #000;
  }


  .homeContainer{
    max-width: 1200px;
    margin: 0 auto;
  }

  .callBtn{
    width: 50%;
  }

  .dealContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .deals{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .deal{
    width: 45%;
  }

  .dealBtn{
    width: 90%;
  }







  /* CONTACT */

  .contactContainer > h1{
    padding-bottom: 50px;
  }

  .contactContainer{
    
  }

  .contactContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 900px;
  }

  .map{
    width: 110%;
  }
}


@media (min-width: 1250px){
  .map{
    width: 150%;
  }
}